<html>
   <head>
   <h1>Daftar Pemasukan Mingguan</h1>
   </head>
   <body>
      <form action = "{{ url_for('addrec') }}" method = "POST">
         <h3>--------------------------</h3>
         Nomor<br>
         <input type = "integer" name = "id" /></br>

         Biaya Iklan<br>
         <input type = "integer" name = "bi" /><br>

         Keuntungan<br>
         <input type = "integer" name = "keu" /><br>

         <input type = "submit" value = "submit" /><br>
      </form>
   </body>
</html>